@import "styles/utils/media";
@import "styles/utils/variables";

.gridContainer {
  @include MQ(L) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    }
    @include MQ(XL) {
      max-width: 1600px;
      margin: 0 auto;
    }
}

.gridSidebarNav {
  @include MQ(L) {
    grid-area: sidenav;
  }
}
.gridHeader {
  @include MQ(L) {
    grid-area: header;
  }
}
.gridMain {
  @include MQ(L) {
    grid-area: main;
  }
}
.gridFooter {
  @include MQ(L) {
    grid-area: footer;
  }
}