$primary-font: 'Lato', sans-serif;
$font-ligth: 200;
$font-regular: 400;
$font-bold: 700;

// Colores
$palette: (
    ligth-grey: #F6F6F6,

    medium-grey: #333333,
    grey: #C4C4C4,
    dark-grey: #232323,

    primary-color: #07193B,
    secondary-color: #1e3391,
    complementary-color: #2BB9FF,
    emphasis-color: #3363FF, 

    danger-color: #B05F6D,
    success-color: #9CC7BD,
    info-color: #FFF3DC,
    warning-color: #D8AFB6,
    disabled-color: #B9C2C4,
);
$ligth-grey: map-get($palette,ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$grey: map-get($palette,grey);
$dark-grey: map-get($palette,dark-grey);
$primary-color: map-get($palette,primary-color);
$secondary-color: map-get($palette,secondary-color);
$complementary-color: map-get($palette,complementary-color);
$emphasis-color: map-get($palette,emphasis-color);
$danger-color: map-get($palette,danger-color);
$success-color: map-get($palette,success-color);
$info-color: map-get($palette,info-color);
$warning-color: map-get($palette,warning-color);
$disabled-color: map-get($palette,disabled-color);
$white:white;
$black: black;
//Gradientes
$primary-gradient: linear-gradient(#FBC567, #F89173);
$secondary-gradient: linear-gradient(#B6BFC1, #747575);